<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Estilo -->
  <link rel="stylesheet" href="/css/style.css">

<!-- Fuentes -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <title>MercadoLiebre</title>

</head>


<body>

<!-- Encabezado -->
  <header>
    <img src="/images/logo-mercado-liebre.svg" alt="Logo MercadoLiebre">
    <p>Lugar para poner la barra de busqueda</p>
    <p>Compra en cuotas y sin tarjeta de credito</p>
    <nav>
      <ul>
        <a href=""><li>Ofertas</li></a>
        <a href=""><li>Tiendas Oficiales</li></a>
        <a href=""><li>Vender</li></a>
        <a href=""><li>Ayuda</li></a>
        <br>
        <a href=""><li>Creá tu cuenta</li></a>
        <a href=""><li>Ingresá</li></a>
        <a href=""><li>Mis Compras</li></a>
      </ul>
    </nav>
  </header>


<!-- Principal -->
  <main>

<!-- Seccion basado en tu ultima visita -->
    <section>
      <h3>Basado en tu última visita</h3>

      <article>
        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
        <p>$6.770</p>
        <p>40% off</p>
        <h4>Cafetera Moulinex</h4>
      </article>

      <article>
        <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
        <p>$230.000</p>
        <p>20% off</p>
        <h4>MacBook Pro 2019</h4>
      </article>

      <article>
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
        <p>$70.500</p>
        <p>10% off</p>
        <h4>Samsung Galaxy S10</h4>
      </article>

      <article>
        <img src="/images/img-tv-samsung-smart.jpg" alt='SmartTv Samsung 43"'>
        <p>$23.200</p>
        <p>5% off</p>
        <h4>SmartTv Samsung 43"</h4>
      </article>
    </section>

<!-- Seccion de ofertas -->
    <section>
      <h3>Sección de Ofertas</h3>

      <article>
        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
        <p>$6.770</p>
        <p>40% off</p>
        <h4>Cafetera Moulinex</h4>
      </article>

      <article>
        <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
        <p>$230.000</p>
        <p>20% off</p>
        <h4>MacBook Pro 2019</h4>
      </article>

      <article>
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
        <p>$70.500</p>
        <p>10% off</p>
        <h4>Samsung Galaxy S10</h4>
      </article>

      <article>
        <img src="/images/img-tv-samsung-smart.jpg" alt='SmartTv Samsung 43"'>
        <p>$23.200</p>
        <p>5% off</p>
        <h4>SmartTv Samsung 43"</h4>
      </article>
    </section>
  </main>

<!--Pie de pagina -->
  <footer>

<!-- Seccion paga con tarjeta o en efectivo -->
    <section>
      <h4>Pagá con tarjeta o en efectivo</h4>
      <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    </section>

<!-- Seccion envio gratis -->
    <section>
      <h4>Envío gratis desde los $2500</h4>
      <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    </section>

<!-- Seccion Seguridad -->
    <section>
      <h4>Seguridad, de principio a fin</h4>
      <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    </section>

<!-- Seccion Copyright -->
    <section>
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>

  </footer>

</body>


</html>